{% extends "base.html" %}
{% block title %}activity_requests{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}  

  <div class="container" style="padding-top:80px;">
        <div class="row">
            <br/>
            <h1 style="text-align:center;">
                <span class="glyphicon"></span> <b>Activity List</b>
            </h1>
            <br/>
        </div>
        <div class="container" id="catlist" style="padding-left:20px">
            <div class="col-lg-10 col-lg-offset-1">
            {% if activities %}
                <table class="table table-bordered">
                    <thead>
                        <th><h3><b>Activity</b></h3></th>
                        <th><h3><b>Description</b></h3></th>
                    </thead>
                    <thead>
                {% for activity in activities %}
                    <tr>
                        <td> <h5 class="h5" style="color:black"> {{ activity.name }} </h5> </td>
                        <td> <h5 class="h5" style="color:black"> {{ activity.description }} </h5> </td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> No activities at this time.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}