{% extends "base.html" %}
{% block title %}activity_requests{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}  

  <div class="container" style="padding-top:80px;">
        <div class="row">
            <br/>
            <h1 style="text-align:center;">
                <span class="glyphicon"></span> <b>Activity Requests</b>
            </h1>
            <br/>
        </div>
        <div class="container" id="catlist" style="padding-left:20px">
            <div class="col-lg-10 col-lg-offset-1">
                <table class="table table-bordered">
                    <thead>
                        <th><h3><b>Activity</b></h3></th>
                        <th><h3><b>Description</b></h3></th>
                        <th><h3><b>Status</b></h3></th>
                    </thead>
                    <thead>
                {% for activity in activities %}
                    <tr>
                        <td> <h5 class="h5" style="color:black"> {{ activity.name }} </h5> </td>
                        <td> <h5 class="h5" style="color:black"> {{ activity.description }} </h5> </td>
                        {% if activity.seekerStatus == True  %}
                            <td> <h5 class="h5" style="color:black"> Accepted </h5> </td>
                        {% else %}
                            {% if activity.seekerStatus == False  %}
                                <td> <h5 class="h5" style="color:black"> Rejected </h5> </td>
                            {% else %}
                                <td> <h5 class="h5" style="color:black"> Unknown </h5> </td>
                            {% endif %}
                        {% endif %} 
                        {% if activity.seekerStatus == None  %}
                            <td align="center"> <a class="btn btn-sm btn-action" href=" /activity/request/submit?id={{activity.id}}&status=1 "> Accept </a> </td> 
                            <td align="center"> <a class="btn btn-sm btn-action" href=" /activity/request/submit?id={{activity.id}}&status=0 "> Reject </a> </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </table>
        </div>
    </div>
{% endblock %}