<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/img/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="padding-top:15px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <span class="glyphicon glyphicon-star"></span> <b>TALENT-MATCH</b>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if g.user.is_authenticated() %}
                    <li>
                        <form style="margin-top:15px;" class="form-inline" method="post" action="/search" role="form">
                            <div class="form-group">
                                {% if query %}
                                <input type="text" class="form-control" id="query" name="query" placeholder="{{query}}" required autocomplete="off">
                                {% else %}
                                <input type="text" class="form-control" id="query" name="query" placeholder="Search for talent" autocomplete="off" required>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-search"></span></button>
                        </form>
                    </li>
                    <li>
                        <a href="/profile">
                            <img class="img-circle" style="margin-right:10px;" src="{{g.user.email | gravatar(size=50)}}">
                            <span style="margin-right:10px;"><b>{{g.user.firstName}}</b>
                            </span>
                        </a>
                    </li>
                    <li style="padding: 25px 0;">
                        <button type="button" class="btn btn-primary btn-circle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down" style="color:#FFFFFF"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/profile">Profile</a>
                            </li>
                            <li><a href="/profile/edit">Edit Profile</a>
                            </li>
                            <li><a href="/profile/settings">Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/invites">Invites Received
                            {% if invite_count %}
                                <span class="label label-primary" style="margin-left:15px; border-radius:50%">{{invite_count}}</span>
                            {% endif %}
                            </a>
                            
                            <li><a href="/invites/sent">Invites Sent</a></li>
                            <li><a href="/activity/list">Activity List</a></li>
                            <li><a href="/invites/view/request">Invites Request</a></li>
                            <!-- for admin users, show additional options -->
                            {% if g.user.is_admin %}
                            <li class="divider"></li>
                            <li><a href="/categories">Admin: Categories</a>
                            </li>
                            <li><a href="/skills">Admin: Skills</a>
                            </li>
                            {% endif %}

                            <li class="divider"></li>
                            <li><a href="/logout">Logout</a>
                            </li>
                        </ul>
                    {% else %}
                    <li>
                        <a href="/login">
                            <button style="margin-top:0px;" class="btn btn-success btn-lg">Sign in</button>
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    {% block content %}{% endblock %} {% block footer %}{% endblock %}
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/typeahead.bundle.min.js"></script>
    <script src="/static/js/talent-match.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>
