{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <!-- work in progress -->
  <div class="container" id="headerwrap" style="padding-top:80px;">
        <div class="row">
            <h1 style="text-align:center;">
                <span class="glyphicon"></span> <b>Category List</b>
            </h1>
        </div>
        <div class="container" id="catlist" style="padding-left:20px">
            <!--
                <div class="row">
                <table class="table table-bordered about-2">
            -->
            <div class="col-lg-8 col-lg-offset-2">
                <table class="table table-bordered">
                    <thead>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Skill Count</th>
                    {%  if user.is_admin  %}
                        <th>Edit</th>
                    {%  endif %}

                    </thead>
                    <thead>
                {% for category in categories %}
                    <tr>
                        <td>
                            {%  if user.is_admin  %}
                                <h5 class="h5"> <a href="/skills?categoryID={{category.id}}" class="otherHref">{{ category.name }}</a> </h5> </td>
                            {%  else %}
                                <h5 class="h5"> {{ category.name }} </h5> </td>
                            {%  endif  %}
                            <td> <h5 class="h5"> {{category.description }} </h5></td>
                            <td> <h5 class="h5"> {{category.count }} </h5></td>
                            {%  if user.is_admin  %}
                                <td> <h5 class="h5"> Edit this category  </h5></td>
                            {% endif %}
                    </tr>
                {% endfor %}
                </table>
        </div>
    </div>
{% endblock %}