{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    body {
        background-color:#3498db;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="container" id="headerwrap" style="padding-top:80px;">
        <div class="row">
            <form class="form-signin" method="POST">
                {% if isAddSkill %}
                    <h2 class="form-signin-heading" style="color:#FFFFFF">Add Skill</h2>
                {%  else %}
                    <h2 class="form-signin-heading" style="color:#FFFFFF">Edit Skill</h2>
                {% endif %}
                {{ form.category(class="form-control", required=true, autofocus=true) }}
                {{ form.name(class="form-control", required=true, placeholder="Name", value=editSkill.name) }}
                {{ form.description(class="form-control", required=true, placeholder="Description",value=editSkill.description) }}
                {{ form.hidden_tag() }}
                {% if isAddSkill %}
                    <button class="btn btn-lg btn-success btn-block" type="submit">Add</button>
                {%  else %}
                    <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}