{% extends "base.html" %}
{% block title %}Edit{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<form class="container" method="post" action="/edit" role="form">
    <div class="form-group" style="padding-bottom:60px;">
        <div class="container" id="profileHeader">
            <div class="row">
                <div class="row mt centered">
                    <div class="col-lg-8 col-lg-offset-2">
                        <img class="img-circle" src="{{g.user.email | gravatar(size=180)}}" alt="" style="margin-bottom:20px;">
                            <div class="row mt centered">
                                <div class="col-10 col-sm-6">
                                    {{ form.firstName(class="form-control", required=true, autofocus=true, value=g.user.firstName, placeholder="First Name") }}
                                </div>
                                <div class="col-10 col-sm-6">
                                    {{ form.lastName(class="form-control", required=true, autofocus=true, value=g.user.lastName, placeholder="Last Name") }}
                                </div>
                            </div>
                        {{ form.quickIntro(class="form-control-profile", autofocus=true, placeholder="Create a Quick Intro") }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="about" >
            <div class="row mt centered">
                <h1>Background</h1>
                <hr>
                <div class="col-lg-8 col-lg-offset-2">
                    {{ form.background(class="form-control-profile", autofocus=true, placeholder="Tell Us a Little About Yourself") }}
                </div>    
            </div>
        </div>
        <div class="container" id="about-2" >
            <div class="row mt centered">
                <h1>Skills</h1>
                <hr>
                <div class="col-lg-8 col-lg-offset-2">
                     <p>Skills</p>
                </div>    
            </div>
        </div>
        <div class="container" id="about" >
            <div class="row mt centered">
                <h1>Contact</h1>
                <hr>
                <div id="contact-row-2" class="row">
                    <div class="col-12 col-sm-4">
                        <p><h6><i class="glyphicon glyphicon-send"></i></h6></p>
                        {{ form.email(class="form-control", required=true, autofocus=true, value=g.user.email, placeholder="Email") }}
                    </div>
                    <div class="col-12 col-sm-4">
                        <p><h6><i class="glyphicon glyphicon-phone"></i></h6></p>
                        {{ form.phoneNumber(class="form-control", autofocus=true, value=g.user.phoneNumber, placeholder="Phone Number", maxlength="10", type="number") }}
                    </div>
                    <div class="col-12 col-sm-4">
                        <p><h6><i class="glyphicon glyphicon-globe"></i></h6></p>
                        {{ form.website(class="form-control", autofocus=true, value=g.user.website, placeholder="Website") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-bottom:60px;" class="col-lg-8 col-lg-offset-2">
        <button class="btn btn-lg btn-success btn-block" type="submit" >Save</button>
    </div>
    {{ form.hidden_tag() }}
</form>
{% endblock %}