{% extends "base.html" %}
{% block title %}Edit_Profile{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<form class="container" method="post" action="/profile" role="form">
    <div class="form-group">
        <div class="container" id="profileHeader">
            <div class="row">
                <h1 style="text-align:center;">
                    <span class="glyphicon glyphicon-star"></span> <b>Michael Robson</b>
                </h1>
                <div class="row mt centered">
                    <div class="col-lg-8 col-lg-offset-2">
                        <img class="img-circle" src="/static/img/pic1.jpg" width="180" alt="" style="padding-bottom:20px;">
                        <textarea type="text" class="form-control-profile" id="intro" placeholder="Enter a Introduction about yourself.">
                            My lighting techniques and design are considered cutting edge in the industry. My friendly Australian demeanor seems to make models and non-professional subjects alike feel very comfortable in front of the camera.
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="about" >
            <div class="row mt centered">
                <h1>Background</h1>
                <hr>
                <div class="col-lg-8 col-lg-offset-2">
                    <textarea type="text" class="form-control-background" id="background" placeholder="Enter a background about yourself.">
                        A native of North Eastern Australia, I am one of those photographers who can make any shot work. I have a perfectionist when it comes to getting the shot right. I have been known to build complicated sets, brave all kinds of weather, and tether himself hundreds of feet off the ground in order to get the perfect photograph. As a former professional athlete I am very comfortable doing what it takes to get the job done. 
                        &#13;&#10;
                        Besides working all over the United States, I have worked in Scotland, Malysia, Tahiti, Australia, Thailand and the European Continent. I have worked in fashion, sport, outdoor, publishing, editorial and myriad other industries.
                    </textarea>
                </div>    
            </div>
        </div>
        <div class="container" id="about-2" >
            <div class="row mt centered">
                <h1>Skills</h1>
                <hr>
                <div class="col-lg-8 col-lg-offset-2">
                     <textarea type="text" class="form-control-background" id="skill" placeholder="Enter a Skill">    I am fluent with 35 mm, large and medium format in film or digital.
                     </textarea>
                </div>    
            </div>
        </div>
        <div class="container" id="about" >
            <div class="row mt centered">
                <h1>Contact</h1>
                <hr>
                <div id="contact-row-2" class="row">
                    <div class="col-12 col-sm-4">
                        <p><h6><i class="glyphicon glyphicon-send"></i></h6></p>
                        <input type="text" class="form-control" id="email" placeholder="Email" value="michael@michaelrobson.com">
                    </div>
                    <div class="col-12 col-sm-4">
                        <p><h6><i class="glyphicon glyphicon-phone"></i></h6></p>
                        <input type="text" class="form-control" id="phonenumber" placeholder="Phone Number" value="(303)641-0895">
                    </div>
                    <div class="col-12 col-sm-4">
                        <p><h6><i class="glyphicon glyphicon-globe"></i></h6></p>
                        <input type="text" class="form-control" id="website" placeholder="Website" value="http://michaelrobson.com/">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}