<!--  } -->
{% extends "base.html" %}
{% block title %}Activity Management{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    body {
        background-color:#3498db;
    }
    </style>

    <!-- only for a modification -->
    {% if isAddActivity %}
    {% else %}
        <link rel="stylesheet" type="text/css" href="/static/extjs/resources/css/ext-all.css" />
        <link rel="stylesheet" type="text/css" href="/static/extjs/example/example.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/ext_js_grid_example.css" />
    {% endif %}

    <script>
            if (talent_match_global === undefined)
        {
            var talent_match_global = {};
        }

        {% if isAddActivity %}
            talent_match_global.activityID = {{ -1 }};
        {% else %}
            talent_match_global.activityID = {{ activityID }};
        {% endif %}

    </script>

    <!-- only for a modification -->
    {% if isAddActivity %}
    {% else %}
        <script type="text/javascript" src="/static/js/ext-all.js"></script>
        <script type="text/javascript" src="/static/extjs/example/examples.js"></script>
        <script type="text/javascript" src="/static/js/extjs_activityskill.js"></script>
    {% endif %}

{% endblock %}

{% block content %}

    <!-- adding to try to get some dynamic behavior
    <script type="text/javascript" src="/static/js/extjs_test.js">
    </script>
    -->

    <div class="container" id="headerwrap" style="padding-top:80px;">
        <div class="row">

            <form class="form-activity" method="POST">

                {% macro with_errors(field) %}
                    <div class="form_field">
                    {% if field.errors %}
                        {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
                        {{ field(class=css_class, **kwargs) }}
                        <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
                    {% else %}
                        {{ field(**kwargs) }}
                    {% endif %}
                    </div>
                {% endmacro %}

                <a class="btn btn-md btn-success btn-block" href="/activity/list" >Back to Activity List</a>
                {% if isAddActivity %}
                    <h2 class="form-signin-heading" style="color:#FFFFFF">Add</h2>
                {%  else %}
                    <h2 class="form-signin-heading" style="color:#FFFFFF">Edit</h2>
                {% endif %}
                {% with flashes = get_flashed_messages(with_categories=true) %}
                    {% if flashes %}
                        {% for category, message in flashes %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="row">
                    <div class="col-lg-1" style="width:50%">
                        Name: {{ form.name(class="form-control", required=true, autofocus=true, placeholder="Name", value=activity.name) }}
                        Description: {{ form.description(class="form-control", required=true, placeholder="Description",value=activity.description) }}
                        Location (ZIP): {{ form.forZipCode(class="form-control", disabled="disabled", required=false, placeholder="79401",value=activity.forZipCode) }}
                    </div>
                    <div class="col-lg-1" style="width:50%">
                        Begin Date: {{ form.beginDate(class="form-control", type="date", required=false, value=activity.beginDate) }}
                        End Date: {{ form.endDate(class="form-control", type="date", required=false, value=activity.endDate) }}
                        Distance (miles): {{ form.distance(class="form-control", disabled="disabled", required=false, placeholder="100",value=activity.distance) }}
                    </div>
                </div>
                <div class="row" >
                    <br/>
                    <div class="form-signin">
                    {{ form.hidden_tag() }}
                    {% if isAddActivity %}
                        <button class="btn btn-lg btn-success btn-block" type="submit">Add</button>
                    {%  else %}
                        <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
                    {% endif %}
                    </div>
                </div>
            </form>
        </div>
    <div id="skill-panel" class="form-activity">
        {% if isAddActivity %}
        {% else %}
            <P>Skills are edited, below, immediately - double-click to edit.  The Save button, above, only applies to the main activity attributes.</P>
        {% endif %}
    </div>
 </div>
{% endblock %}


