{% extends "base.html" %}
{% block title %}Edit{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<form class="container" method="post" action="/edit" role="form">
    <div class="form-group" style="padding-bottom:60px;">
        <div class="container" id="profileHeader">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h1 style="text-align:center;">
                        {{ form.firstName(class="form-control", required=true, autofocus=true, placeholder="First Name", value=g.user.firstName) }}
                        {{ form.lastName(class="form-control", required=true, autofocus=true, placeholder="Last Name", value=g.user.lastName) }}
                    </h1>
                </div>
                <div class="row mt centered">
                    <div class="col-lg-8 col-lg-offset-2">
                        <img class="img-circle" src="/static/img/pic1.jpg" width="180" alt="" style="padding-bottom:20px;">
                       {{ form.quickIntro(class="form-control-profile", required=true, autofocus=true, placeholder="Create a Quick Intro") }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="about" >
            <div class="row mt centered">
                <h1>Background</h1>
                <hr>
                <div class="col-lg-8 col-lg-offset-2">
                    {{ form.background(class="form-control-profile", required=true, autofocus=true, placeholder="Tell Us a Little About Yourself", value=g.user.background) }}
                </div>    
            </div>
        </div>
        <div class="container" id="about-2" >
            <div class="row mt centered">
                <h1>Skills</h1>
                <hr>
                <div class="col-lg-8 col-lg-offset-2">
                     <p>Skills</p>
                </div>    
            </div>
        </div>
        <div class="container" id="about" >
            <div class="row mt centered">
                <h1>Contact</h1>
                <hr>
                <div id="contact-row-2" class="row">
                    <div class="col-12 col-sm-4">
                        <p><h6><i class="glyphicon glyphicon-send"></i></h6></p>
                        {{ form.email(class="form-control", required=true, autofocus=true, placeholder="Email Address", value=g.user.email) }}
                    </div>
                    <div class="col-12 col-sm-4">
                        <p><h6><i class="glyphicon glyphicon-phone"></i></h6></p>
                        {{ form.phoneNumber(class="form-control", required=true, autofocus=true, placeholder="Phone Number", value=g.user.phoneNumber) }}
                    </div>
                    <div class="col-12 col-sm-4">
                        <p><h6><i class="glyphicon glyphicon-globe"></i></h6></p>
                        {{ form.website(class="form-control", required=true, autofocus=true, placeholder="Website", value=g.user.website) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-bottom:60px;">
        <button class="btn btn-lg btn-success btn-block" type="submit" >Save</button>
    </div>
    {{ form.hidden_tag() }}
</form>
{% endblock %}