{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Find Talent.
                    <br/>
                    <b>Be Talent.</b>
                </h1>
                <form class="form-inline" method="post" action="/register" role="form">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
                    </div>
                    <button type="submit" class="btn btn-danger btn-lg">Register</button>
                </form>
            </div>
            <!-- /col-lg-6 -->
            <div class="col-lg-6">
                <img class="img-responsive" src="/static/img/mac-flat.png" alt="">
            </div>
            <!-- /col-lg-6 -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /headerwrap -->


<div class="container" id="about">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Find the Talent You Need.
                <br/>Be the Talent You Are.</h1>
            <h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
        </div>
    </div>
    <!-- /row -->

    <div class="row mt centered">
        <div class="col-lg-4">
            <img src="/static/img/ser01.png" width="180" alt="">
            <h4>1 - Find Talent</h4>
            <p>Find individuals with the talents you are looking for, or create a profile to broadcast your talents to the world.</p>
        </div>
        <!--/col-lg-4 -->

        <div class="col-lg-4">
            <img src="/static/img/ser02.png" width="180" alt="">
            <h4>2 - Connect</h4>
            <p>Contact, or be contacted by, individuals to see if they are interested in teamming up.</p>

        </div>
        <!--/col-lg-4 -->

        <div class="col-lg-4">
            <img src="/static/img/ser03.png" width="180" alt="">
            <h4>3 - Team Up</h4>
            <p>Work together to make great things.</p>

        </div>
        <!--/col-lg-4 -->
    </div>
    <!-- /row -->
</div>
<!-- /container -->

<div class="container">
    <hr>
    <div class="row centered">
        <div class="col-lg-6 col-lg-offset-3">
            <form class="form-inline" action="/register" role="form">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
                </div>
                <button type="submit" class="btn btn-danger btn-lg">Register</button>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <!-- /row -->
    <hr>
</div>
<!-- /container -->

<div class="container">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Our Awesome Team.</h1>
            <h3>Talent-Match is made by a team of developers who are passionate about using technology to make the world a more connected place.</h3>
        </div>
    </div>
    <!-- /row -->

    <div class="row mt centered">
        <div class="col-lg-4">
            <img class="img-circle" src="/static/img/jordan-wright.png" width="140" height="140" alt="">
            <h4>Jordan Wright</h4>
            <p>Jordan has years of cybersecurity and development experience. He has a passion for creating technology to help people connect to one another.</p>
            <p><i class="glyphicon glyphicon-send"></i>  <i class="glyphicon glyphicon-phone"></i>  <i class="glyphicon glyphicon-globe"></i>
            </p>
        </div>

        <!--/col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle" src="/static/img/steve-mazzucco.jpg" width="140" height="140" alt="">
            <h4>Steve Mazzucco</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <p><i class="glyphicon glyphicon-send"></i>  <i class="glyphicon glyphicon-phone"></i>  <i class="glyphicon glyphicon-globe"></i>
            </p>
        </div>
        <!--/col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle" src="/static/img/pic3.jpg" width="140" height="140" alt="">
            <h4>Angelica Finning</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <p><i class="glyphicon glyphicon-send"></i>  <i class="glyphicon glyphicon-phone"></i>  <i class="glyphicon glyphicon-globe"></i>
            </p>
        </div>
        <!--/col-lg-4 -->
    </div>
    <!-- /row -->
</div>
<!-- /container -->
{% endblock %}
{% block footer %}
<div class="container">
    <hr>
    <div class="row centered">
        <div class="col-lg-6 col-lg-offset-3">
            <form class="form-inline" action="/register" role="form">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
                </div>
                <button type="submit" class="btn btn-danger btn-lg">Register</button>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <!-- /row -->
    <hr>
    <p class="centered">Landing page template created by BlackTie.co - Attribution License 3.0 - 2013</p>
</div>
<!-- /container -->
{% endblock %}