{% extends "base.html" %}
{% block title %}Invitations{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}  

  <div class="container" style="padding-top:80px;">
        {% with flashes = get_flashed_messages(with_categories=true) %}
            {% if flashes %}
                {% for category, message in flashes %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <br/>
                {%  if isRequest %}
                    <h1 style="text-align:center;">
                        <span class="glyphicon"></span> <b>Invitations Request</b>
                    </h1>
                {% else %}
                    {%  if isRecepientRole %}
                    <h1 style="text-align:center;">
                        <span class="glyphicon"></span> <b>Invitations Received</b>
                    </h1>
                    {% else %}
                    <h1 style="text-align:center;">
                        <span class="glyphicon"></span> <b>Invitations Sent</b>
                    </h1>            
                    {%  endif %}
                {%  endif %}
            <br/>
        </div>
        <div class="container" id="catlist" style="padding-left:20px">
            <div class="col-lg-10 col-lg-offset-1">
            {% if invitationList %}
                <table class="table table-bordered">
                    <thead>
                        <th><h3><b>Activity</b></h3></th>
                        <th><h3><b>Description</b></h3></th>
                        {%  if isRequest %}
                            <th><h3><b>From User</b></h3></th> 
                        {% else %}
                            {%  if isRecepientRole %}
                                <th><h3><b>From User</b></h3></th>
                                <th><h3><b>Status</b></h3></th>
                                <th><h3><b>Accept</b></h3></th>
                                <th><h3><b>Reject</b></h3></th>
                            {% else %}
                                <th><h3><b>To User</b></h3></th>
                                <th><h3><b>Status</b></h3></th>
                                <th><h3><b>Cancel</b></h3></th>
                            {%  endif %}
                        {%  endif %}
                    </thead>
                    <thead>
                {% for invite in invitationList %}
                    <tr>
                        <td> <h5 class="h5" style="color:black"> {{ invite.activityName }} </h5> </td>
                        <td> <h5 class="h5" style="color:black"> {{ invite.description }} </h5> </td>
                        <td align="center"> <h5 class="h5" style="color:black"> <a href="/profile/{{invite.user.username}}">{{ invite.user.firstName }} {{ invite.user.lastName }}</a></h5> </td>
                        {%  if not isRequest %}
                            {% if invite.accepted == True  %}
                                <td align="center"> <h5 class="h5" style="color:black"> Accepted </h5> </td>
                            {% else %}
                                {% if invite.accepted == False  %}
                                    <td align="center"> <h5 class="h5" style="color:black"> Rejected </h5> </td>
                                {% else %}
                                    <td align="center"> <h5 class="h5" style="color:black"> Unknown </h5> </td>
                                {% endif %}
                            {% endif %}
                            {% if invite.accepted == None  %}
                                {%  if isRecepientRole %}
                                    <td align="center"> <a class="btn btn-sm btn-action" href=" /invites/submit?id={{invite.id}}&status=1 "> Accept </a> </td>
                                    <td align="center"> <a class="btn btn-sm btn-action" href=" /invites/submit?id={{invite.id}}&status=0 "> Reject </a> </td>
                                {% else %}
                                    <td align="center"> <a class="btn btn-sm btn-action" href=" /invites/cancel?id={{invite.id}}&cancel=1 "> Cancel </a> </td>
                                {% endif %}
                            {% else %}
                                {%  if isRecepientRole %}
                                    {% if  invite.accepted == True %}
                                        <td align="center"></td>
                                        <td align="center"> <a class="btn btn-sm btn-action" href=" /invites/submit?id={{invite.id}}&status=0 "> Reject </a> </td>
                                    {% else %}
                                        <td align="center" colspan="2"> <a class="btn btn-sm btn-action" href=" /invites/requests?inviteID={{invite.id}} "> Request Invitation </a> </td>
                                    {% endif %}
                                {% else %}
                                    <td align="center"></td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> No invitations at this time.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}