{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    body {
        background-color:#3498db;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="container" id="headerwrap" style="padding-top:80px;">
        <div class="row">
            <h1 style="text-align:center;">
                <span class="glyphicon glyphicon-star"></span> <b>TALENT-MATCH</b>
            </h1>
            <form class="form-signin" action="/login" method="POST">
                <h2 class="form-signin-heading" style="color:#FFFFFF">Please sign in</h2>
                {% with flashes = get_flashed_messages(with_categories=true) %}
                    {% if flashes %}
                        {% for category, message in flashes %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {{ form.email(class="form-control", placeholder="Email Address") }}
                {{ form.password(class="form-control", placeholder="Password") }}
                {{ form.hidden_tag() }}
                <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
{% endblock %}