{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container" id="profileHeader">
        <div class="row">
            <h1 style="text-align:center;">
                <span class="glyphicon glyphicon-star"></span> <b>{{g.user.firstName}} {{g.user.lastName}}</b>
            </h1>
            <div class="row mt centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <img class="img-circle" src="/static/img/pic1.jpg" width="180" alt="" style="padding-bottom:20px;">
                    <p>{{g.user.quickIntro}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="about" >
        <div class="row mt centered">
            <h1>Background</h1>
            <hr>
            <div class="col-lg-8 col-lg-offset-2">
                <p>{{g.user.background}}</p>
            </div>    
        </div>
    </div>
    <div class="container" id="about-2" >
        <div class="row mt centered">
            <h1>Skills</h1>
            <hr>
            <div class="col-lg-8 col-lg-offset-2">
                <p>Skills</p>
            </div>    
        </div>
    </div>
    <div class="container" id="about" >
        <div class="row mt centered">
            <h1>Contact</h1>
            <hr>
            <div id="contact-row-6" class="row">
                <div class="col-12 col-sm-4 with-hover-text">
                    <p><h6><i class="glyphicon glyphicon-send"></i></h6></p>
                    <h3>{{g.user.email}}</h3>
                </div>
                <div class="col-12 col-sm-4 with-hover-text">
                    <p><h6><i class="glyphicon glyphicon-phone"></i></h6></p>
                    <h3>{{g.user.phoneNumber}}</h3>
                </div>
                <div class="col-12 col-sm-4 with-hover-text">
                    <p><h6><i class="glyphicon glyphicon-globe"></i></h6></p>
                    <h3>{{g.user.website}}</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}