<!--
    This is the user's main profile page.   It includes background, skills, and contact information for a user.
-->
{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container" id="profileHeader">
        {% with flashes = get_flashed_messages(with_categories=true) %}
            {% if flashes %}
                {% for category, message in flashes %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <h1 style="text-align:center;">
                <span class="glyphicon glyphicon-star"></span> 
                <b>{{user.firstName}} {{user.lastName}}</b>
            </h1>
            <div class="row mt centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <img class="img-circle" src="{{user.email | gravatar(size=180)}}" alt="">
                    {% if user.quickIntro %}
                        <p>{{user.quickIntro}}</p>
                    {% endif %}
                </div>
            </div>
            <div class="container" >
                <div class="row mt centered">
                    <div class="col-lg-12">
                        {% if user != gUser %}
                            <a style="margin-bottom:20px;" class="btn btn-lg btn-danger" href="/invites/create?id={{user.id}}"><span class="glyphicon glyphicon-envelope"></span> Invite</a>
                        {% endif %}
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="about" >
        <div class="row mt centered">
            <h1>Background</h1>
            <hr>
            <div class="col-lg-8 col-lg-offset-2">
            	{% if user.background %}
                	<p>{{user.background}}</p>
                {% else %}
                	<div class="alert alert-info">
	                    <span class="glyphicon glyphicon-info-sign"></span> No background listed.
	                </div>
                {% endif %}
            </div>    
        </div>
    </div>
    <div class="container" id="about-2" >
        <div id="skill" class="row mt centered">
            <h1>Skills</h1>
            <hr>
            <div class="col-lg-8 col-lg-offset-2">
                <!-- Project 4: Adding the ability to edit skills. -->
                <!--
                     Project 4 - Steve - this value is passed in as a parameter when being rendered by the template engine.
                     If true, then the current user is the same as the user for this profile.
                -->
                {%  if canEditSkills %}
                    <a class="btn btn-md btn-success btn-block" href="/profile/edit/skill?editProfile={{editProfile}}" >Edit Your Skills</a>
                {% endif %}
                {% if skills %}
                    <table class="table table-bordered">
                    <thead>
                        <th><h3><b>Category</b></h3></th>
                        <th><h3><b>Skill</b></h3></th>
                        <th><h3><b>Description</b></h3></th>
                        <!-- Project 4 - Steve - added displaying the volunteer flag. -->
                        <th><h3><b>Volunteer?</b></h3></th>
                    </thead>
                    <!--
                        Project 4 - Steve - added displaying the volunteer flag.
                        This also required a small change to pass in the list of provider skills instead of the
                        skill list.
                    -->
                    {% for providerSkill in skills %}
                        <tr style="text-align:left;">
                            <td> <h5> {{ providerSkill.skill.category.name }} </h5> </td>
                            <td> <h5> {{ providerSkill.skill.name }} </h5></td>
                            <td> <h5> {{ providerSkill.skill.description }} </h5></td>
                            {% if providerSkill.will_volunteer %}
                                <td> <h5> Yes </h5></td>
                            {% else %}
                                <td> <h5> No </h5></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
            		</table>
                {% else %}
	                <div class="alert alert-info">
	                    <span class="glyphicon glyphicon-info-sign"></span> No skills listed.
	                </div>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="container" id="about" >
        <div class="row mt centered">
            <h1>Contact</h1>
            <hr>
            <div id="contact-row-6" class="row">
                <div class="col-12 col-sm-4 with-hover-text">
                    <p><h6><i class="glyphicon glyphicon-send"></i></h6></p>
                    <h3>{{user.email}}</h3>
                </div>
                {% if user.phoneNumber %}
                <div class="col-12 col-sm-4 with-hover-text">
                    <p><h6><i class="glyphicon glyphicon-phone"></i></h6></p>
                    <h3>{{user.phoneNumber}}</h3>
                </div>
                {% endif %}

                {% if user.website %}
                <div class="col-12 col-sm-4 with-hover-text">
                    <p><h6><i class="glyphicon glyphicon-globe"></i></h6></p>
                    <h3>{{user.website}}</h3>
                </div>
                {% endif %}

            </div>
            <div id="contact-row-6" class="row">
                {% if user.zipCode %}
                <div class="col-12 col-sm-4 with-hover-text">
                    <p><h6><i class="glyphicon glyphicon-road"></i></h6></p>
                    <h3>{{user.zipCode}}</h3>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}