{% extends "base.html" %}
{% block title %}Search - {{query}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="container" style="margin-top:80px;">
    <div class="row">
        <h1>{{count}} Results for <b>"{{query}}"</b></h1>
    </div>
    <br />
    {% for user in users %}
    <div class="row">
        <div class="col-lg-2"><img class="img-circle" src="{{user.email | gravatar(size=100)}}"></div>
        <div class="col-lg-10">
            <a href="/profile/{{user.username}}"><h2>{{user.firstName}} {{user.lastName}}</h2></a>
            <p>{{user.email}}</p>
        </div>
    </div>
    <br />
    {% endfor %}
</div>
{% endblock %}
