{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <!-- work in progress -->
  <div class="container" id="headerwrap" style="padding-top:80px;">
        <div class="row">
            <h1 style="text-align:center;">
                <span class="glyphicon"></span> <b>Category List</b>
            </h1>
        </div>
        <div class="container" id="catlist" style="padding-left:20px">
            <!--
                <div class="row">
                <table class="table table-bordered about-2">
            -->
            <div class="col-lg-8 col-lg-offset-2">
                <table class="table table-bordered">
                    <thead>
                        {% if categoryFirst %}
                            <th>Category</th>
                            <th>Skill</th>
                        {% else %}
                            <th>Skill</th>
                            <th>Category</th>
                        {% endif %}
                        <th>Description</th>
                        <th>Users with Skill Count</th>
                    </thead>
                    <thead>
                {% for skill in skillList %}
                    <tr>
                        {% if categoryFirst %}
                            <td> <h5 class="h5"> {{ skill.categoryName }} </h5></td>
                            <td>
                                {%  if user.is_admin  %}
                                    <h5 class="h5"> {{ skill.name }} </h5> </td>
                                {%  else %}
                                    <h5 class="h5"> {{ skill.name }} </h5> </td>
                                {%  endif  %}
                        {% else %}
                            <td>
                                {%  if user.is_admin  %}
                                    <h5 class="h5"> {{ skill.name }} </h5> </td>
                                {%  else %}
                                    <h5 class="h5"> {{ skill.name }} </h5> </td>
                                {%  endif  %}
                            <td> <h5 class="h5"> {{ skill.categoryName }} </h5></td>
                        {% endif %}

                        <td> <h5 class="h5"> {{ skill.description }} </h5></td>
                        <td> <h5 class="h5"> {{ skill.userCount }} </h5></td>
                    </tr>
                {% endfor %}
                </table>
        </div>
    </div>
{% endblock %}