{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <!-- work in progress -->
  <div class="container" id="headerwrap" style="padding-top:80px;">
        <div class="row">
            <h1 style="text-align:center;">
                <span class="glyphicon"></span> <b>Skill List</b>
                <a class="btn btn-lg btn-success" href="/skills/edit?new=True" >+ Add New</a>
            </h1>
        </div>
        <div class="container" id="catlist" style="padding-left:20px">
            <div class="col-lg-8 col-lg-offset-2">
                <table class="table table-bordered">
                    <thead>
                        {% if categoryFirst %}
                            <th>Category</th>
                            <th>Skill</th>
                        {% else %}
                            <th>Skill</th>
                            <th>Category</th>
                        {% endif %}
                        <th>Description</th>
                        <!-- <th>Users with Skill Count</th> -->
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    <thead>
                {% for skill in skillList if (user.is_admin or not skill.deleted) %}
                    <tr>
                        {% if categoryFirst %}
                            <td> <h5 class="h5"> {{ skill.categoryName }} </h5></td>
                            <td>
                                {%  if user.is_admin  %}
                                    <h5 class="h5"> {{ skill.name }} </h5> </td>
                                {%  else %}
                                    <h5 class="h5"> {{ skill.name }} </h5> </td>
                                {%  endif  %}
                        {% else %}
                            <td>
                                {%  if user.is_admin  %}
                                    <h5 class="h5"> {{ skill.name }} </h5> </td>
                                {%  else %}
                                    <h5 class="h5"> {{ skill.name }} </h5> </td>
                                {%  endif  %}
                            <td> <h5 class="h5"> {{ skill.categoryName }} </h5></td>
                        {% endif %}

                        <td> <h5 class="h5"> {{ skill.description }} </h5></td>
                        <!-- <td> <h5 class="h5"> {{ skill.userCount }} </h5></td> -->
                        <!-- <td> <h5 class="h5"> Edit this skill  </h5></td> -->
                        <td> <a class="btn btn-sm btn-success" href="/skills/edit?id={{skill.id}}">Edit</a> </td>
                        {% if skill.deleted %}
                            <td> <a class="btn btn-sm btn-success" href="/skill/restore?id={{skill.id}}">Restore</a> </td>
                        {% else %}
                            <td> <a class="btn btn-sm btn-danger" href="/skill/delete?id={{skill.id}}">Delete</a> </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </table>
        </div>
    </div>
{% endblock %}