<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Steve Activity Skill example</title>

    <link rel="stylesheet" type="text/css" href="/static/extjs/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="/static/extjs/example/example.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/ext_js_grid_example.css" />

    <!-- moved <link rel="stylesheet" type="text/css" href="/static/css/ext_js_example.css" /> -->



    <script>
        if (talent_match_global === undefined)
        {
            var talent_match_global = {};
        }
        talent_match_global['testID'] = 1;
        talent_match_global.activityID = {{ activityID }};
        // console.log(talent_match_global.activityID);
    </script>

    <script type="text/javascript" src="/static/js/ext-all.js"></script>
    <script type="text/javascript" src="/static/extjs/example/examples.js"></script>
    <script type="text/javascript" src="/static/js/extjs_activityskill.js"></script>
</head>
<body>

    <h1>Activity Skill Editing Example</h1>

    <div id="skill-sample-header" class="row">
        <P>This is based on the Sencha REST Proxy Example with a Flask back-end for the ActivitySkill object.</P>
    </div>

    <div id="skill-panel" class="row">
    </div>


</body>
</html>
